body{
    margin:0px;
    padding:0px;
    background-color: orange;
}

header{
    margin: 16px;
    padding: 25px;
    text-align: center;
    background-color: #ff5100;
}

.profilpic{
    height:350px;
    width:350px;
    background-color: gray;
}




























/* Калашников */